.colums {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  margin: 10px;
}
.column {
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  margin: 5px;
}
.task {
  background-color: #fff;
  padding: 20px;
  margin: 10px;
  border-radius: 15px;
  cursor: pointer;
}
