.colums {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  margin: 10px;
}
.column {
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  margin: 5px;
}
.task {
  background-color: #fff;
  padding: 20px;
  margin: 10px;
  border-radius: 15px;
  cursor: pointer;
}
.task_info {
  display: flex;
  flex-direction: column;
}
.task_name {
  font-size: 18px;
}
.task_descr {
  font-size: 16px;
  color: #4f4f4f;
}
.task_duration {
  color: #858585;
  font-size: 14px;
}
.button_back {
  border: none;
  border-radius: 50px;
  font-size: 20px;
  background-color: unset;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  color: #4f4f4f;
}
.button_back:hover {
  border-radius: 5px;
  scale: 1.2;
  transition: 0.2s ease-in, color 0.2s ease-in;
}
.icons {
  display: flex;
  width: 100%;
}
.tasks .header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.task_header {
  width: 100%;
}
